body{
    background-color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 50px;
    color: white;
}

a.titleLink{
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

h2.subtitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
    font-weight: 300;
}

p.copyright{
    text-align: right;
    color: gray;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}